.Main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding:10px;
}
.Section{
       display: flex;
       align-items: center;
       justify-content: center;
}
.SectionContainer{
    width: 60dvw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:40px;
    padding:60px 50px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0,0,0,.2);
}

@media screen and (max-width:768px) {
    .SectionContainer{
        padding:30px 10px;
    }
}