@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
input,
button {
  border: none;
}
ul {
  list-style: none;
}
.container {
  width: 60dvw;
  display: flex;
  align-items: center;
  justify-content: center;
}
h2.title{
    font-weight: 600;
}
/* body{
    width: 100dvw;
} */